{% extends 'shared/site.html' %}


{% block styles %}

{% endblock %}

{% block site_title %}Photo Club{% endblock %}

{% block site_content %}
  <div class="text-center">
    <h1>Hello, profile_user!</h1>
    <h5>This is your profile</h5>
    <img class="rounded-circle mb-3" src="profile_picture_url" alt="Generic placeholder image" width="140" height="140">
    <div class="w-50 m-auto">
      form
    </div>
  </div>
    <hr>
    if photos
    <h2 class='text-center'>Your's photos</h2>
  <div class="row">        
        <div class="row">
        for photo in photos
        <div class="col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="{{photo.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ photo.type }} {{ photo.title }}, Date: {{ photo.date }}</h5>
                    <p class="card-text">{{ photo.descriptions }}</p>
                    <p class="card-text"><strong>Owner: {{ photo.user }}</strong></p>
                    <a href="{% url 'photo details or comment' photo.id %}" class="btn btn-primary">See details</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  else
  <div class="text-center">
    <h2>You have no photo</h2>
    <a href="{% url 'create photo' %}" class="btn btn-success">Add Photo</a>
  </div>
{% endblock %}