{% extends 'shared/site.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block site_title %}
Welcome to Photo club
{% endblock %}
{% block site_content %}
<section class="banner">
    {# <img style="width: 100%" #}
            {# src="https://activepets.co.za/web/ap-content/uploads/2019/08/Active-pets-dogs-and-cats.png" alt="">#}
    {# <img style="width: 100%" #}
            {# src="/static/Pet.png" alt="">#}
    {# <img style="width: 100%" src={% static "Pet.png" %}>#}
    <header>
        <h1>Welcome to Photo club</h1>
        <p class="lead">Share your photos.</p>
    </header>

    <div class="row">
        <div class="col">
            <p>Already have an account?</p>
            <button class="button">sign in</button>
        </div>
        <div class="col">
            <p>Do not have an account?</p>
            <button class="button">sign up</button>
        </div>
    </div>
</section>
{% endblock %}