{% extends 'shared/site.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/list-photos.css' %}">
{% endblock %}

{% block site_content %}
    <h1>Gallery</h1>
    <ul class="list-horizontal list-photo">
        {% for photo in photos %}
            <li class="list-item">
                <div class="photo-img">
                    <img src="{{ photo.image.url }}" alt="image of {{ photo.title }}">
                </div>
                <div class="photo-details">
                    <p class="photo-info">{{ photo.type }} {{ photo.title }}, Date: {{ photo.date }}</p>
                    <p class="photo-description">{{ photo.description }}</p>
                    <div class="photo-buttons">
                        <a class="btn" href="{% url 'photo details or comment' photo.pk %}">
                            See details
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}